<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>DevBuild_TOP_JobNode</name>
  <description>本番以外のAppビルド</description>
  <remoteFS>/Users/p3_dev/JenkinsJobs/DevBuild_TOP_JobNode</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.814.vc82988f54b_10">
    <host>pokepia-buildmachine-3.cocone.jp</host>
    <port>22</port>
    <credentialsId>pokepia-buildmachine-3-ssh-login</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyTrustedKeyVerificationStrategy">
      <requireInitialManualTrust>false</requireInitialManualTrust>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>