<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>TestBuild_JobNode</name>
  <description>Testビルドジョブ専用</description>
  <remoteFS>/Users/p3_dev/JenkinsJobs/TestBuild_JobNode</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.32.0">
    <host>pokepia-buildmachine-2.cocone.jp</host>
    <port>22</port>
    <credentialsId>pokepia-buildmachine-2-ssh-login</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyTrustedKeyVerificationStrategy">
      <requireInitialManualTrust>false</requireInitialManualTrust>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>